@model IEnumerable<adminWebApplication.Theater_Info>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage2.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.T_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Theater_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Capacity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.T_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Theater_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Capacity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Theater_Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Theater_Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Theater_Id })
        </td>
    </tr>
}

</table>
